
  
  body{
    background-color: #070707;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;

    box-sizing: border-box;
    background-size: cover;
  }

  hr {
    border: 0;
    border-top: 1px solid #ffffff; 
    border-bottom: 1px solid #ffffff;
    width: 48px;
    height: 0;
  }
  
  .header-container{
    background-color: #070707;
    height: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bttn-flow{
    
    
    height: 34px;
    white-space: break-spaces;
    /*font-family:;*/
    font-size: .7rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: solid #ffffff 0px;
    border-radius: 100px 100px 100px 100px;
    background-color: none;
    margin-left: 16px;
    margin-right: 16px;
  }


  .canvas-container{
    width: 100vw;
    height: 94%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    
    box-sizing: border-box;
  }

 .welcome-window{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  position: absolute;
  top: 40px;
 }
 .welcome-title{
  width: 30%;
  font-size:1.5rem;
  color: #ffffff;
  
 }
 .welcome-text{
  width: 70%;
  white-space: break-spaces;
  font-size: 1.5rem;
  color: #ffffff;
 }
.start-button{
  position: absolute;
  bottom: 40px;
}
.bttn-start{
  width: 184px;
  height: 40px;
  white-space: break-spaces;
  /*font-family:;*/
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 1px;
  border-radius: 100px 100px 100px 100px;
  background-color: none;
}


  



.configuration-window{
  position: absolute;
  bottom: 0px;
  width: 32%;
}

.config-sets{
  display: flex;
  flex-direction: column;


}
.sets-bttns{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bttn-set{
  width: 128px;
  height: 28px;
  /*font-family:;*/
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color:#070707d2 ;
  border: solid #ffffff 0px;
  border-radius: 0px 0px 0px 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
  border-radius: 5px 5px 0px 0px;

}


.config-aspa{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1fb6;
  border-radius: 10px 10px 0px 0px;
}
.aspa-option{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttn-aspa-option{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  /*font-family:;*/
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color:#070707c2 ;
  border: solid #ffffff 2px;
  border-radius: 100px 100px 100px 100px;
  background-color: none;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.config-mat{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1fb6;
  border-radius: 10px 10px 0px 0px;
}
.mat-option{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttn-mat-option{
    width: 60px;
    height: 60px;
    white-space: break-spaces;
    /*font-family:;*/
    font-size: .7rem;
    color: rgb(255, 255, 255);
    background-color: #070707c2 ;
    border: solid #ffffff 2px;
    border-radius: 100px 100px 100px 100px;
    background-color: none;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.text-mat-option{
  width: 120px;
  font-size: .8rem;
    color: rgb(255, 255, 255);
    background-color: transparent ;
    border: solid #ffffff 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.config-set-lights{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}
.config-light{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.bttn-light-toggle{
  width: 80px;
    height: 80px;
    white-space: break-spaces;
    /*font-family:;*/
    font-size: .7rem;
    color: rgb(255, 255, 255);
    background-color: #070707c2 ;
    border: solid #ffffff 2px;
    border-radius: 100px 100px 100px 100px;
    background-color: none;
}

.config-anim{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1fb6;
  border-radius: 10px 10px 0px 0px;

}
.anim-option{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttn-anim-option{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  /*font-family:;*/
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color: #070707c2;
  border: solid #ffffff 2px;
  border-radius: 100px 100px 100px 100px;
  background-color: none;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

  .comparative-window{
    position: absolute;
  }