@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Ethnocentric';
  src: url('fonts/Ethnocentric\ Light.otf');
}

  body{
    background-color: #070707;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;

    box-sizing: border-box;
    background-size: cover;
  }

  hr {
    border: 0;
    border-top: 1px solid #ffffff; 
    border-bottom: 1px solid #ffffff;
    width: 48px;
    height: 0;
  }
  
  .header-container{
    background-color: #070707;
    height: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bttn-flow-1{
    height: 34px;
    white-space: break-spaces;
    font-family:"Saira", sans-serif;
    font-weight:400;
    font-size: .7rem;
    color: #E3FE75;
    background-color: transparent;
    border: solid #ffffff 0px;
    border-radius: 100px 100px 100px 100px;
    background-color: none;
    margin-left: 16px;
    margin-right: 16px;
  }
  .bttn-flow-2{
    height: 34px;
    white-space: break-spaces;
    /*font-family:;*/
    font-size: .7rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: solid #ffffff 0px;
    border-radius: 100px 100px 100px 100px;
    background-color: none;
    margin-left: 16px;
    margin-right: 16px;
  }

  .canvas-container{
    width: 100vw;
    height: 94%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    
    box-sizing: border-box;
  }

 .welcome-window{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  height: 40%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-image: linear-gradient(#000000dc,transparent);
 }
 .welcome-title{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  
 }
 .welcome-text{
  width: 50%;
 }
.txt-name-drone{
  height: 80px;
  background-color: transparent;
  font-family:"Ethnocentric";
  font-size: 56;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
  margin-left: 48px;
  margin-top: 8px;
}
.txt-name-pfx{
  height: 32px;
  background-color: transparent;
  font-family:"Ethnocentric";
  font-weight: lighter;
  font-size: 16;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
  margin-left: 48px;
}
.txt-info-drone{
  height: 120px;
  background-color: transparent;
  white-space: break-spaces;
  font-family:"Saira", sans-serif;
  font-weight:350;
  font-style: italic;
  font-size: 14;
  text-align: start;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
  margin-left: 96px;
  margin-right: 80px;
  margin-top: 24px;
  letter-spacing: 1.5px;
}




.start-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 200px;
  bottom: 48px;

  background-color: #1f1f1fb6;
  border-radius: 10px 10px 10px 10px;
}
.bttn-start{
  width: 40px;
  height: 48px;
  white-space: break-spaces;
  font-family:"Saira", sans-serif;
  font-weight:400;
  font-size: .8rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
  border-radius: 10px 10px 10px 10px;
  background-image:url("icons/starticon.png");
  background-repeat:no-repeat;
  background-size: 32px 32px;
  background-position:center;
  box-sizing: border-box;
  margin-left: 32px;
  margin-right: 0;
}
.bttn-start-1{
width: 240px;
height: 40px;
white-space: break-spaces;
font-family:"Saira", sans-serif;
font-weight:400;
font-size: .8rem;
color: rgb(255, 255, 255);
background-color: transparent;
border: solid #ffffff 0px;
border-radius: 10px 10px 10px 10px;
background-color: none;
margin-left: 0px;
margin-right: 16px;
}






.configuration-window{
  position: absolute;
  bottom: 0px;
  width: 32%;
}

.config-sets{
  display: flex;
  flex-direction: column;


}
.sets-bttns{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bttn-set{
  width: 144px;
  height: 32px;
  font-family:"Saira", sans-serif;
  font-weight:400;
  font-size: .85rem;
  color: rgb(255, 255, 255);
  background-color:#070707d2 ;
  border: solid #ffffff 0px;
  border-radius: 0px 0px 0px 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
  border-radius: 5px 5px 0px 0px;

}


.config-aspa{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1fb6;
  border-radius: 10px 10px 0px 0px;
}
.aspa-option{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttn-aspa-option-1{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  font-family:"Saira", sans-serif;
  font-weight:400;
  font-size: .7rem;
  color: rgb(255, 255, 255);
  border: solid #ffffff 0px;
  border-radius: 100px 100px 100px 100px;
  background-color: transparent;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-image:url("icons/icon_aspa1.png");
  background-repeat:no-repeat;
  background-size: 60px 60px;
  background-position:center;
}
.bttn-aspa-option-2{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  font-family:"Saira", sans-serif;
  font-weight:400;
  font-size: .7rem;
  color: rgb(255, 255, 255);
  border: solid #ffffff 0px;
  border-radius: 100px 100px 100px 100px;
  background-color: transparent;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-image:url("icons/icon_aspa2.png");
  background-repeat:no-repeat;
  background-size: 62px 62px;
  background-position:center;
}
.config-mat{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1fb6;
  border-radius: 10px 10px 0px 0px;
}
.mat-option{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttn-mat-option-1{
    width: 60px;
    height: 60px;
    white-space: break-spaces;
    font-family:"Saira", sans-serif;
    font-weight:400;
    font-size: .7rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: solid #ffffff 2px;
    border-radius: 100px 100px 100px 100px;
    background-color: none;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-image:url("icons/icon_vermillon.png");
    background-repeat:no-repeat;
    background-size: 60px 60px;
    background-position:center;
    box-sizing: border-box;

}
.bttn-mat-option-2{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  font-family:"Saira", sans-serif;
  font-weight:400;
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color: transparent ;
  border: solid #ffffff 2px;
  border-radius: 100px 100px 100px 100px;
  background-color: none;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-image:url("icons/icon_cobalt.png");
  background-repeat:no-repeat;
  background-size: 60px 60px;
  background-position:center;
  box-sizing: border-box;
  

}
.bttn-mat-option-3{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  font-family:"Saira", sans-serif;
  font-weight:400;
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color: #2F239B ;
  border: solid #ffffff 2px;
  border-radius: 100px 100px 100px 100px;
  background-color: none;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-image:url("icons/icon_navy.png");
  background-repeat:no-repeat;
  background-size: 60px 60px;
  background-position:center;
  box-sizing: border-box;
  

}
.bttn-mat-option-4{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  font-family:"Saira", sans-serif;
  font-weight:400;
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color: #171714 ;
  border: solid #ffffff 2px;
  border-radius: 100px 100px 100px 100px;
  background-color: none;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-image:url("icons/icon_black.png");
  background-repeat:no-repeat;
  background-size: 60px 60px;
  background-position:center;
  box-sizing: border-box;

}
.text-mat-option{
  width: 120px;
  font-family:"Saira", sans-serif;
  font-weight:400;
  font-size: .8rem;
    color: rgb(255, 255, 255);
    background-color: transparent ;
    border: solid #ffffff 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.config-anim{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1fb6;
  border-radius: 10px 10px 0px 0px;

}
.anim-option{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttn-anim-option-1{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  /*font-family:;*/
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
  border-radius: 100px 100px 100px 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-image:url("icons/icon_hover.png");
  background-repeat:no-repeat;
  background-size: 60px 60px;
  background-position:center;
  box-sizing: border-box;
}
.bttn-anim-option-2{
  width: 60px;
  height: 60px;
  white-space: break-spaces;
  /*font-family:;*/
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
  border-radius: 100px 100px 100px 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-image:url("icons/icon_360.png");
  background-repeat:no-repeat;
  background-size: 50px 50px;
  background-position:center;
  box-sizing: border-box;
}

.config-set-lights{
 position: absolute;
 bottom: 16px;
 right: 80px;
}
.config-light{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttn-light-toggle{
  width: 30px;
    height: 30px;
    white-space: break-spaces;
    /*font-family:;*/
    font-size: .7rem;
    color: rgb(255, 255, 255);
    background-color:transparent ;
    border: solid #ffffff 0px;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 0px;
    background-image:url("icons/l2.png");
    background-repeat:no-repeat;
    background-size: 22px 29px;
    background-position:center;
    box-sizing: border-box;
}
.text-light-toggle{
  width: 120px;
  font-size: .8rem;
  font-family:"Saira", sans-serif;
  font-weight:400;
    color: rgb(255, 255, 255);
    background-color: transparent ;
    border: solid #ffffff 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.config-set-labels{
  position: absolute;
  width: 240px;
  height: 240px;
  right: 120px;
  background-color: #1f1f1fb6;
  border: solid #ffffff 1px;
  border-radius: 240px 240px 240px 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-label{
  width: 200px;
  height: 200px;
  font-size: 12;
  white-space: break-spaces;
  font-family:"Saira", sans-serif;
  font-weight:400;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
}






.comparative-original{
  position: absolute;
    bottom: 48px;
    left: 400px;
}
.comparative-custom{
  position: absolute;
    bottom: 48px;
    right: 400px;
    
}

.bttn-comparative{
  width: 240px;
  height: 40px;
  white-space: break-spaces;
  /*font-family:;*/
  font-size: .7rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 1px;
  border-radius: 100px 100px 100px 100px;
  background-color: none;
}


.original-info{
  position: absolute;
  width: 160px;
  height: 240px;
  left: 48px;
  top: 48px;
  background-color: #1f1f1fb6;
  border: solid #ffffff 1px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-original-info{
  width: 160px;
  height: 200px;
  font-size: 12;
  white-space: break-spaces;
  /*font-family:;*/
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
}

.custom-info{
  position: absolute;
  width: 160px;
  height: 240px;
  right: 48px;
  top: 48px;
  background-color: #1f1f1fb6;
  border: solid #ffffff 1px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-custom-info{
  width: 160x;
  height: 200px;
  font-size: 12;
  white-space: break-spaces;
  /*font-family:;*/
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid #ffffff 0px;
}