html{
  --transition-duration: 150ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-transition: all var(--transition-duration)
    var(--transition-timing-function);
  --rounded-border-radius: 9999px;
  --color-primary: #ec6244;
  --color-primary-lightened: #f27357;
  --dark-gray: #272727;
  --less-dark-gray: #454642;
  --toggle-off-color: #696969;
  --more-off-white: #d1d5db;
  --off-white: #efeeee;
  --cubemap-checked-bg: rgba(0, 0, 0, 0.3);
  --step-button-hover-box-shadow: rgba(210, 247, 90, 0.3);
  --button-size: 42px;
  --spacing: 2.5rem;
  --spacing-sm: 1.5rem;
  --accent-3dverse: #ffc700;
  
}


.canvas-container{
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.configuration-layout{
  position: absolute;
}

.info{
  position: absolute;
}

.show-info{
  color: #d1d5db;
background-color: rgb(0, 0, 0);
width: 100px;
height: 100px;
}